<p>servers works!</p>
<app-server *ngFor="let server of servers"></app-server>
<button class = "btn btn-primary" [disabled]="!check"
(click)="onCreateServer()">Add Server</button>

<p>{{serverValue}}</p>

<input class="form-control" (input)="onInput($event)">

<p *ngIf="stateOfButton; else noServer" > check if there is something {{inputValue}}</p>
<ng-template #noServer>
    <p>No server was created !</p>
</ng-template>
 <input class="form-control" [(ngModel)]="inputValue">

<!-- <p>{{inputValue}}</p>  -->