<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or Blueprints!</p>
        <label for="name">Server Name</label>
        <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
        <input type="text" class="form-control"
        #serverComponent>
        <label for="content">Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
    </div>
    <!-- <button class="btn btn-primary" (click)="onAddServer()">Add Server</button> -->
    <!-- <button class="btn btn-primary" (click)="onAddServer(newServerContent)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBluePrint(newServerContent)">Add Server Blueprint</button> -->

    <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBluePrint()">Add Server Blueprint</button>
</div>